%a{href: @pet.url} 
  =@pet.title
%p= "#{@pet.comments.count} 评论" 

= form_for @comment do |f|
  %div{style: "display:none"}
    =f.text_field(:pet_id)
  =f.text_area(:content,rows: 6)
  .button=f.submit("save")
  




%table.table{style: "margin-left: 70px;margin-top:40px"}
  %tbody
    - @pet.comments.each do |comment|
      %tr
        %td= comment.content
%a{href: pets_path} 
  top page
