.span1
  %table
    %tr
      %td
        = link_to pet_votes_path(@pet,direct:"up",from: params[:action]),title:"顶", method: 'post'  do
          %i.icon-arrow-up
    %tr
      %td= @pet.vote_count
    %tr
      %td
        = link_to pet_votes_path(@pet,direct:"down",from: params[:action]),title:"踩", method: 'post'   do
          %i.icon-arrow-down
