%ul.nav
  - Topic.all.each do |topic|
    %li
      = link_to  topic_path(topic) do
        %strong= topic.topic_name


%div{style: "float:right"}
  - if logged?
    =link_to session[:user][:username], user_path(session[:user])
    <br/>
    =link_to "log out",logout_path
  - else
    =link_to "log in",login_path(origin_path: request.fullpath)
    <br/>or 
    =link_to "sign up",register_path

